body {
    font-family: sans-serif;
    background-color: black;
}

.navigation{
    text-decoration: none;
    color: azure;
    font-size:30px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

nav {
   display: flex;
   justify-content: space-around;
    border-top: 5px double azure;   
    border-bottom: 5px double azure; 
    
}

header h1{
    color: azure;
    text-align: center;
    font-size: 40px;
    

}

main h2{
    text-align: center;
    color: azure;
    font-size:25px;
    
}

.img{
    position: relative;
    border-radius: 20px;
    border: 5px solid lightblue;
    display: flex;
}

.img2{
    position: relative;
    left:480px;
    border-radius: 20px;
    border: 5px solid lightblue;
}

.electronics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main img {
    height: 450px;
    width: 450px;
}

.reviews {
    color: azure;
    text-align: center;
    border-top: 5px double azure;   
    border-bottom: 5px double azure; 
}

.reviews1{
    width: 70px;
    height: 70px;
}

main p {
    color: azure;
    font-size: 30px;
    float: right;
}
footer{
  
    margin-top: 200px;
      border-top: 3px double azure;
}
footer p {
    color: azure;
    font-size: 70px;
    text-align: center;
  
}

.writer{
    float: left;
}

.phone123{
    font-size: 30px;
}
.rew{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
   
}

.hint{
    font-size: 30px;
    color: azure;
}

form {
    color: lightblue;
    text-align: center;
    font-size: 35px;
}



